{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
    <title>Кинотеатры</title>
{% endblock title %}
{% block content %}
    <h1>Кинотеатры</h1>
        {% for one in theatres_base %}
            <div class="section">
            <div class="card">
                <h2>{{ one.name }}</h2>
                <p class="category">
                    {{ one.category.title}}
                </p>
                <div class="card-info">
                    <img src="{{ one.image }}" alt="">
                    <div class="time">
                        <img src="{% static 'img/time.png' %}" alt="">
                        <p>АДРЕС</p>
                        <p>{{ one.adr}}</p>
                        <img src="{% static 'img/location.png' %}" alt="">
                        <p>РЕЖИМ РАБОТЫ</p>
                       <p>Понедельник:
                            {% if one.mon.start == None %}
                                не работает
                            {% else %}
                                с {{ one.mon_start}} до {{ one.mon_end }}
                            {% endif %}
                        </p>
                         <p>Вторник:
                            {% if one.tue_start == None %}
                                не работает
                            {% else %}
                                с {{ one.tue_start}} до {{ one.tue_end }}
                            {% endif %}
                        </p>
                        <p>Среда:
                            {% if one.tue_start == None %}
                                не работает
                            {% else %}
                                с {{ one.wed_start}} до {{ one.wed_end }}
                            {% endif %}
                        </p>
                        <p>Четверг:
                           {% if one.tue_start == None %}
                                не работает
                            {% else %}
                                с {{ one.tue_start}} до {{ one.tue_end }}
                            {% endif %}
                        </p>
                        <p>Пятница:
                            {% if one.fri_start == None %}
                                не работает
                            {% else %}
                                с {{ one.fri_start}} до {{ one.fri_end }}
                            {% endif %}
                        </p>
                        <p>Суббота:
                            {% if one.sat_start == None %}
                                не работает
                            {% else %}
                                с {{ one.sat_start}} до {{ one.sat_end }}
                            {% endif %}
                        </p>
                        <p>Воскресенье:
                            {% if one.sun_start == None %}
                                не работает
                            {% else %}
                                с {{ one.sun_start}} до {{ one.sun_end }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <hr>
                <p>{{ one.desc }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}